html {
    background: #95deff;
    font-family: 'Roboto', 'Roboto Condensed', sans-serif;

}

h1 {
    font-size: 42px;
}

li {
    list-style-type: none; 
}

.border-bottom {
    border-bottom: black solid 1px;
}

li:nth-child(2) {
    margin-top: 15px;
}

li .inline {
    display: inline;
}

ul {
    /* border: solid 2px black; */
    padding: 2px;
    margin: 0;
    transition: box-shadow 0.5s;
}

ul:hover {
    cursor: pointer;
    box-shadow: 5px 5px 8px #888888;
}

.offline {
    background-color: rgba(255, 0, 0, 0.424);
}

.online { 
    background-color: rgba(0, 255, 114, 0.459);
}

.legendOnline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 2px black;
    background-color: rgba(0, 255, 115, 0.459);
}


.legendOffline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 2px black;
    background-color: rgba(255, 0, 0, 0.459);
}

.linkContainer {
    position: relative;
    text-align: left;
    display: inline-block;
    font-size: 32px;
}
.linkContainer a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(85, 2, 2);
}
.linkContainer a:visited { 
    color: rgb(85, 2, 2);;
}

.flexcontainer {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.column1 {
    margin: 10px;
    order: 1;
}

.column2 {
    margin: 10px;
    order: 2;
    flex-grow: 1;
}
.profileImg {
    width: 115px;
}

#main {
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/* Loading Spinner effects */

.lds-dual-ring {
    display: flex;
    justify-content: center;
    margin: 40px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 130px;
    height: 130px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.loadtext {
    position: fixed;
    top: 230px;
    z-index: 99;
}

.hide {
    display: none;
    visibility: hidden;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



@media only screen and (max-width: 1400px) {
    #main {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
    .linkContainer {
        font-size: 26px;
    }
}
@media only screen and (max-width: 900px) {
    #main {
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 20px 10px;
    }
    .linkContainer {
        font-size: 22px;
    }
    .mb_hide {
        display: none;
    }
}


@media only screen and (max-width: 440px) {
    #main {
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 20px 10px;
    }
    .linkContainer {
        font-size: 22px;
    }
    .flexcontainer {
        display: block;
        flex-direction: row;
    }
    .profileImg {
        width: 100%;
    }
    .lds-dual-ring:after {
        width: 70px;
        height: 70px;
    }
}

